.myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
}

.myModalContent {
    margin: 12px;
    padding: 20px 20px 0px 20px;
    background-color: var(--color-my-general);
    border-radius: 15px;
    min-width: 80px;
    width: calc(100% - 80px);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;

}
